<div>
    <h1>How to Cite DanSeq in MLA 8th edition</h1>
    <p>
        <lb/>Chambers, Aidan. <hi rend="italics">Dance on My Grave</hi>, a digital genetic edition. <hi rend="italics">DanSeq</hi>, edited by Andrea Davidson, University of Antwerp, 2022, <!--URL--> (date of access).
    </p>
    <p>
        <lb/>For documents in this digital genetic edition that were not created by Aidan Chambers, cite:
    </p>
    <p>
        <lb/>Clark, Margaret. Letter to Aidan Chambers (date of the letter), <hi rend="italics">Dance on My Grave</hi>, a digital genetic edition. <hi rend="italics">DanSeq</hi>, edited by Andrea Davidson, University of Antwerp, 2022, <!--URL--> (date of access).
   </p>
    <p>
        <lb/>Salway, Glenys. Letter to Aidan Chambers (date of the letter), <hi rend="italics">Dance on My Grave</hi>, a digital genetic edition. <hi rend="italics">DanSeq</hi>, edited by Andrea Davidson, University of Antwerp, 2022, <!--URL--> (date of access).
    </p>
</div>