<div class="windowcont-wrapper ">
    <header class="windowcont-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#record_tab" data-toggle="tab">
                    <i class="far fa-file"/> Record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#metadata_tab" data-toggle="tab">
                    <i class="far fa-file"/>  Possession</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#transcript_tab" data-toggle="tab">
                    <i class="far fa-file-code"/> Reading</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#facsimile_tab" data-toggle="tab">
                    <i class="far fa-file-image"/> Relations</a>
            </li>
        </ul>
    </header>
    <div class="windowcont-content">
        <div class="tab-content  app:loadItem">
            <!-- is inserted by the regarding function in the app module -->
        </div>
    </div>
    <footer class="windowcont-footer">
        <div class="text-center">
            <button class="app:newDocCloseButton btn btn-mw-outline my-2 save-newDoc">
                <i class="far fa-save"/> Save</button>
        </div>
    </footer>
</div>