<div>
    <div class="container">
        <div class="index-content-row row">
            <div class="col-sm-3">
                <img src="$app/resources/icon.svg" style="width: 100%;"/>
            </div>
            
            
            
            <div class="index-headline col-sm-9">
                <h1 class="index-headline">DanSeq, genetic edition of Aidan Chambers’ Dance Sequence novels</h1>
            </div>
            
            
            
        </div>
        
        
        <div class="index-content-row row">
            
            
            
            
            
            
            <div class="col-sm-9">
                <p>
                    <a href="http://www.aidanchambers.co.uk/index.htm" target="_blank">Aidan Chambers</a> published the six novels of his Dance Sequence between 1978 and 2006, but he began working on Breaktime in 1975 and Dance on My Grave as early as 1967.
                </p>
                <p>
                    The DanSeq project reads the Dance Sequence novels from their earliest conception up until their date of publication. It gives Chambers’ readers a new way of entering the Dance Sequence novels. It collates and chronologises the existing versions of Chambers’ Dance Sequence novels. 
                </p>
                <p>
                    DanSeq is pronounced <a href="https://upload.wikimedia.org/wikipedia/commons/c/c4/Da-dansk.ogg" target="_blank">[ˈtænˀsk]</a>, incidentally like <hi rend="italics">dansk</hi>, the Danish and Norwegian word for the Danish language.
                </p>
            </div>
            
            
            
            
            
            
            
          
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="$app/resources/images/desk_bigger.jpg" class="card-img-top" alt="Aidan Chambers on his desk."/>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://chambers.uantwerpen.be/exist/apps/ManuscriptWeb/Modules/" class="btn btn-mw-std">To his desk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>