<div class="app:loadBooks">
    <nav aria-label="breadcrumb" class="app:getBreadCrumbs"/>
    
    <div data-template="templates:if-parameter-set" data-template-param="org.exist-db.ManuscriptWeb.user">
        
        <div class="row justify-content-end">
            <!-- todo: switch for library module. there: different buttons! (to be decided) -->
            <div class="col-12 col-md-auto button-row">
                <button data-template="app:newBookButton"/>
                <button data-template="app:newCollectionButton"/>
            </div>
        </div>
        
    </div>
    
    
    
    <div class="templates:each?from=books&amp;to=shelf">
        <div class="row">
            <div class="shelf">
                <img src="/exist/apps/ManuscriptWeb/resources/icons/wall-bookshelf-new.png" style=" position: absolute; width: 1000px; height: 100px; left: 0; bottom: 0;"/>
                <div class="app:print-title"/>
            </div>
        </div>
    </div>
</div>