<div class="panel">
    <header>
        <h1>Header</h1>
    </header>
    <div class="body">
        <p>Body text</p>
        <ul>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
            <li>- </li>
        </ul>
    </div>
    <footer>
        <h3>Footer</h3>
    </footer>
</div><!--
<hr id="heightIndicator" class="indicator"/>
<div class="control">
    <label for="heightSlider">Max height</label>
    <div id="heightSlider" class="slider"></div>
    <label><input id="flexCheck" type="checkbox"></input> Flexible Height</label>
    <label><button id="generateContent">Generate content</button></label>
</div>
--><!--<div class="windowcont-wrapper">
    <div class="windowcont-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#1" data-toggle="tab">
                    <i class="fas fa-cog"/> Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#2" data-toggle="tab">
                    <i class="fas fa-unlock-alt"/> Access</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#3" data-toggle="tab">
                    <i class="fas fa-share-square"/> Share</a>
            </li>
        </ul>
    </div>
    <div class="windowcont-content">
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div style="height:1000px;">No file settings available yet</div>
            </div>
            <div class="tab-pane" id="2">
                <div style="height:1000px;">No accessibility settings available yet</div>
            </div>
            <div class="tab-pane" id="3">
                <div style="height:1000px;">No share settings available yet</div>
            </div>
        </div>
        
        
    </div>
    <div class="windowcont-footer">
        <div class="text-center">
            <button class="btn btn-mw-outline my-2 save-settings">
                <i class="far fa-save"/> Save</button>
            <button class="btn btn-mw-outline my-2 discard-settings">
                <i class="fas fa-ban"/> Cancel</button>
        </div>
    </div>
</div>-->